<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<title>Inserção</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/crud/listagem">LISTAGEM</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/crud/insercao">NOVO</a>
			</li>
			
		</ul>
	</nav>
	<br>
	<div class="container">
		<h2>{{titulo}}</h2>
		<form action="/crud/salvar_insercao/" method="POST" name="frm_insercao" class="ml-3">
		{% csrf_token %}
			<div class="form-group">
				<label for="cliente">Cliente:</label>
				<input type="text" class="form-control" name="cliente" align="center">
			</div>
			<div class="form-group">
				<label for="numero_conteiner">Número do Contêiner:</label>
				<input type="text" class="form-control" name="numero_conteiner" align="center">
			</div>
			<div class="form-group">
				<select class="form-control" name="tipo"  align="center">
					<option value="20">20</option>
					<option value="40">40</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" name="status" align="center" >
					<option value="Cheio">Cheio</option>
					<option value="Vazio">Vazio</option>
				</select>
			</div>
				<div class="form-group">
				<select class="form-control" name="categoria" align="center">
					<option value="Importação">Importação</option>
					<option value="Exportação">Exportação</option>
				</select>
			</div>
			<div>
				<div class="form-group">
				<select class="form-control" name="movimentacao" align="center" >
					<option value="Embarque">Embarque</option>
					<option value="Descarga">Descarga</option>
					<option value="Gate_In">Gate In</option>
					<option value="Gate_Out">Gate Out</option>
					<option value="Reposicionamento">Reposicionamento</option>
					<option value="Pesagem">Pesagem</option>
					<option value="Scanner">Scanner</option>
				</select>
			</div>
			<div class="form-group">
				<label for="data_inicial">Data Inicial:</label>
				<input type="date"  class="form-control" name="data_inicial" align="center">
			</div>
			<div class="form-group">
				<label for="data_final">Data Final:</label>
				<input type="date"  class="form-control" name="data_final" align="center">
			</div>

			<a href="/listagem" class="btn btn-secondary" role="button">Cancelar</a>
			<button type="submit" class="btn btn-success">Inserir</button>
		</form>
	</div>
</body>
</html>
